<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="FilesDirectory" value="E:\FTP\LocalUser\{0}\Outbound\"/>
  </appSettings>
  <connectionStrings>
    <add name="SQL_Global" connectionString="server=SQL00;uid=pv;pwd=1234;database=GLOBAL;wsid=VerifLetters" providerName="System.Data.SqlClient" />
    <add name="OleDB_Global" connectionString="Provider=SQLOLEDB;Data Source=SQL00;Password=1234;User ID=pv;Initial Catalog=GLOBAL;Workstation ID=VerifLetters" providerName="System.Data.OleDb"/>
  </connectionStrings>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="network">
        <network host="smarthost.coxmail.com" defaultCredentials="true"/>
      </smtp>
    </mailSettings>
  </system.net>
</configuration>