<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>

    <!--<add key="FilesDirectory" value="E:\FTP\LocalUser\{0}\Outbound\"/>-->
    
<add key="FilesDirectory" value="\\192.168.0.36\clientftp\{0}\outbound\"/>
   
    <add key="FilesDirectoryEDI" value="\\vp-new\LocalUser\{0}\Outbound\"/>
    <add key="FilesDirectoryOMV" value="\\vp-new\LocalUser\{0}\Outbound\"/>

    <!-- local directory-->
    <!--<add key="FilesDirectory" value="c:\FTP\"/>
    <add key="FilesDirectoryEDI" value="c:\FTP\EDI\"/>-->
    
  </appSettings>
  <connectionStrings>
    <!--<add name="SQL_Global" connectionString="servver=SQL00;uid=pv;pwd=1234;database=GLOBAL;wsid=VerifLetters" providerName="System.Data.SqlClient" />
    <add name="OleDB_Global" connectionString="Provider=SQLOLEDB;Data Source=SQL00;Password=1234;User ID=pv;Initial Catalog=GLOBAL;Workstation ID=VerifLetters" providerName="System.Data.OleDb"/>-->


    <add name="SQL_Global" connectionString="server=VP-SQL\SQLSERVER2017;uid=sa;pwd=*sqlserver2017;database=GLOBAL;wsid=VerifLetters" providerName="System.Data.SqlClient" />
    <add name="OleDB_Global" connectionString="Provider=SQLOLEDB;Data Source=VP-SQL\SQLSERVER2017;Password=*sqlserver2017;User ID=sa;Initial Catalog=GLOBAL;Workstation ID=VerifLetters" providerName="System.Data.OleDb"/>
  </connectionStrings>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="network">
        <network host="smarthost.coxmail.com" defaultCredentials="true"/>
      </smtp>
    </mailSettings>
  </system.net>
</configuration>